USE [master]
GO
/****** Object:  Database [FinalProject]    Script Date: 2021/6/7 上午 12:12:58 ******/
CREATE DATABASE [FinalProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Final Project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Final Project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Final Project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Final Project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinalProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FinalProject]
GO
/****** Object:  Table [dbo].[BONUS]    Script Date: 2021/6/7 上午 12:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BONUS](
	[Bonus_ID] [varchar](10) NOT NULL,
	[Student_ID] [varchar](10) NOT NULL,
	[Comment_ID] [varchar](10) NULL,
	[Exam_ID] [varchar](10) NULL,
	[Point] [int] NOT NULL,
	[Bonus_Time] [datetime] NOT NULL,
	[Bonus_Balance] [int] NOT NULL,
 CONSTRAINT [Bonus_PK] PRIMARY KEY CLUSTERED 
(
	[Bonus_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMENT]    Script Date: 2021/6/7 上午 12:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMENT](
	[Comment_ID] [varchar](10) NOT NULL,
	[Course_ID] [varchar](10) NOT NULL,
	[Student_ID] [varchar](10) NOT NULL,
	[Comment_Time] [datetime] NOT NULL,
	[Year_Semester] [char](5) NOT NULL,
	[Comment_Text] [nvarchar](4000) NOT NULL,
	[Recommended_Rate] [char](10) NOT NULL,
	[Sweetness] [char](10) NOT NULL,
	[Loading] [char](10) NOT NULL,
 CONSTRAINT [Comment_PK] PRIMARY KEY CLUSTERED 
(
	[Comment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMENT_LIKE]    Script Date: 2021/6/7 上午 12:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMENT_LIKE](
	[Student_ID] [varchar](10) NOT NULL,
	[Comment_ID] [varchar](10) NOT NULL,
	[Like] [int] NULL,
	[Dislike] [int] NULL,
 CONSTRAINT [Like_PK] PRIMARY KEY CLUSTERED 
(
	[Student_ID] ASC,
	[Comment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSE]    Script Date: 2021/6/7 上午 12:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE](
	[Course_ID] [varchar](10) NOT NULL,
	[CourseName] [nvarchar](100) NOT NULL,
	[Teacher] [nvarchar](10) NOT NULL,
	[Lecture_Language] [nvarchar](10) NOT NULL,
	[Classroom] [nvarchar](10) NULL,
	[Class_Session] [nvarchar](10) NOT NULL,
	[Pre_Requisite] [nvarchar](10) NULL,
	[Syllabus] [varchar](10) NULL,
	[Avg_Recommend_Rate] [decimal](2, 1) NULL,
	[Avg_Score] [decimal](4, 2) NULL,
	[Credit] [decimal](2, 1) NOT NULL,
 CONSTRAINT [Course_PK] PRIMARY KEY CLUSTERED 
(
	[Course_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENROLL]    Script Date: 2021/6/7 上午 12:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENROLL](
	[Student_ID] [varchar](10) NOT NULL,
	[Course_ID] [varchar](10) NOT NULL,
	[Year_Semester] [char](5) NOT NULL,
	[Comment_ID] [varchar](10) NULL,
	[Comment_Status] [varchar](10) NOT NULL,
 CONSTRAINT [Enroll_PK] PRIMARY KEY CLUSTERED 
(
	[Student_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAST_EXAM]    Script Date: 2021/6/7 上午 12:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAST_EXAM](
	[Exam_ID] [varchar](10) NOT NULL,
	[Student_ID] [varchar](10) NOT NULL,
	[Course_ID] [varchar](10) NOT NULL,
	[Year_Semester] [char](5) NOT NULL,
	[Price] [int] NOT NULL,
	[Download_Link] [varchar](1000) NULL,
 CONSTRAINT [Exam_PK] PRIMARY KEY CLUSTERED 
(
	[Exam_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PURCHASE]    Script Date: 2021/6/7 上午 12:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASE](
	[Purchased_ID] [varchar](10) NOT NULL,
	[Student_ID] [varchar](10) NOT NULL,
	[Exam_ID] [varchar](10) NOT NULL,
	[Purchased_time] [datetime] NOT NULL,
	[Purchased_Balance] [int] NOT NULL,
 CONSTRAINT [Purchase_PK] PRIMARY KEY CLUSTERED 
(
	[Purchased_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REPLY]    Script Date: 2021/6/7 上午 12:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPLY](
	[Reply_ID] [varchar](10) NOT NULL,
	[Student_ID] [varchar](10) NOT NULL,
	[Comment_ID] [varchar](5) NOT NULL,
	[Contents] [nvarchar](4000) NOT NULL,
 CONSTRAINT [Reply_PK] PRIMARY KEY CLUSTERED 
(
	[Student_ID] ASC,
	[Reply_ID] ASC,
	[Comment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 2021/6/7 上午 12:12:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[Student_ID] [varchar](10) NOT NULL,
	[Password] [varchar](25) NOT NULL,
	[Student_Name] [nvarchar](50) NOT NULL,
	[Major] [char](20) NOT NULL,
	[Grade] [char](1) NOT NULL,
	[Point] [int] NOT NULL,
 CONSTRAINT [Student_PK] PRIMARY KEY CLUSTERED 
(
	[Student_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BONUS] ([Bonus_ID], [Student_ID], [Comment_ID], [Exam_ID], [Point], [Bonus_Time], [Bonus_Balance]) VALUES (N'B000000001', N'107304018', N'0000000001', NULL, 5, CAST(N'2021-06-07T00:00:03.000' AS DateTime), 55)
GO
INSERT [dbo].[COMMENT] ([Comment_ID], [Course_ID], [Student_ID], [Comment_Time], [Year_Semester], [Comment_Text], [Recommended_Rate], [Sweetness], [Loading]) VALUES (N'0000000001', N'306008011', N'107304018', CAST(N'2021-06-07T00:00:03.000' AS DateTime), N'109-2', N'好課推推！', N'★★★★★', N'★★★★★', N'★★★★★')
GO
INSERT [dbo].[COURSE] ([Course_ID], [CourseName], [Teacher], [Lecture_Language], [Classroom], [Class_Session], [Pre_Requisite], [Syllabus], [Avg_Recommend_Rate], [Avg_Score], [Credit]) VALUES (N'088E01011', N'華語-特別班基礎華語', N'林美香       ', N'中文/Mandari', N'商館260309  ', N'二78E      ', N'＠備註Note:1.', NULL, NULL, NULL, CAST(3.0 AS Decimal(2, 1)))
INSERT [dbo].[COURSE] ([Course_ID], [CourseName], [Teacher], [Lecture_Language], [Classroom], [Class_Session], [Pre_Requisite], [Syllabus], [Avg_Recommend_Rate], [Avg_Score], [Credit]) VALUES (N'088E01021', N'華語-特別班基礎華語', N'林美香       ', N'中文/Mandari', N'商館260304  ', N'二78E      ', N'＠備註Note:1.', NULL, NULL, NULL, CAST(3.0 AS Decimal(2, 1)))
INSERT [dbo].[COURSE] ([Course_ID], [CourseName], [Teacher], [Lecture_Language], [Classroom], [Class_Session], [Pre_Requisite], [Syllabus], [Avg_Recommend_Rate], [Avg_Score], [Credit]) VALUES (N'088E01031', N'華語-特別班基礎華語', N'林美香       ', N'中文/Mandari', N'商館260305  ', N'二78E      ', N'＠備註Note:1.', NULL, NULL, NULL, CAST(3.0 AS Decimal(2, 1)))
GO
INSERT [dbo].[ENROLL] ([Student_ID], [Course_ID], [Year_Semester], [Comment_ID], [Comment_Status]) VALUES (N'107304018', N'306008011', N'109-2', NULL, N'填寫')
GO
INSERT [dbo].[PURCHASE] ([Purchased_ID], [Student_ID], [Exam_ID], [Purchased_time], [Purchased_Balance]) VALUES (N'P000000001', N'107304018', N'0000000001', CAST(N'2021-06-06T15:42:23.000' AS DateTime), 30)
GO
INSERT [dbo].[STUDENT] ([Student_ID], [Password], [Student_Name], [Major], [Grade], [Point]) VALUES (N'107304018', N'123', N'林盈盈', N'統計學系            ', N'3', 55)
GO
ALTER TABLE [dbo].[ENROLL] ADD  CONSTRAINT [DF_ENROLL_Comment_Status]  DEFAULT ('未填寫') FOR [Comment_Status]
GO
ALTER TABLE [dbo].[STUDENT] ADD  CONSTRAINT [DF_STUDENT_Point]  DEFAULT ((50)) FOR [Point]
GO
ALTER TABLE [dbo].[BONUS]  WITH CHECK ADD  CONSTRAINT [Bonus_FK1] FOREIGN KEY([Student_ID])
REFERENCES [dbo].[STUDENT] ([Student_ID])
GO
ALTER TABLE [dbo].[BONUS] CHECK CONSTRAINT [Bonus_FK1]
GO
ALTER TABLE [dbo].[BONUS]  WITH CHECK ADD  CONSTRAINT [Bonus_FK2] FOREIGN KEY([Comment_ID])
REFERENCES [dbo].[COMMENT] ([Comment_ID])
GO
ALTER TABLE [dbo].[BONUS] CHECK CONSTRAINT [Bonus_FK2]
GO
ALTER TABLE [dbo].[BONUS]  WITH CHECK ADD  CONSTRAINT [Bonus_FK3] FOREIGN KEY([Exam_ID])
REFERENCES [dbo].[PAST_EXAM] ([Exam_ID])
GO
ALTER TABLE [dbo].[BONUS] CHECK CONSTRAINT [Bonus_FK3]
GO
ALTER TABLE [dbo].[COMMENT]  WITH CHECK ADD  CONSTRAINT [Comment_FK1] FOREIGN KEY([Course_ID])
REFERENCES [dbo].[COURSE] ([Course_ID])
GO
ALTER TABLE [dbo].[COMMENT] CHECK CONSTRAINT [Comment_FK1]
GO
ALTER TABLE [dbo].[COMMENT]  WITH CHECK ADD  CONSTRAINT [Comment_FK2] FOREIGN KEY([Student_ID])
REFERENCES [dbo].[STUDENT] ([Student_ID])
GO
ALTER TABLE [dbo].[COMMENT] CHECK CONSTRAINT [Comment_FK2]
GO
ALTER TABLE [dbo].[PAST_EXAM]  WITH CHECK ADD  CONSTRAINT [Exam_FK1] FOREIGN KEY([Course_ID])
REFERENCES [dbo].[COURSE] ([Course_ID])
GO
ALTER TABLE [dbo].[PAST_EXAM] CHECK CONSTRAINT [Exam_FK1]
GO
ALTER TABLE [dbo].[PAST_EXAM]  WITH CHECK ADD  CONSTRAINT [Exam_FK2] FOREIGN KEY([Student_ID])
REFERENCES [dbo].[STUDENT] ([Student_ID])
GO
ALTER TABLE [dbo].[PAST_EXAM] CHECK CONSTRAINT [Exam_FK2]
GO
USE [master]
GO
